body.theme-lavender .navbar {
    background-color: #47005b;  /* Dark background */
    color: #ffffff;  /* Light text */
  }
  
  body.theme-lavender .navbar .nav-link {
    color: #ffffff;
  }
  
  body.theme-lavender .footer {
    background-color: #47005b;
    color: #ffffff;
  }
  
  body.theme-lavender .dropdown-menu {
    background-color: #47005b;
    color: #ffffff;
  }
  
body.theme-lavender .dropdown-item {
    background-color: #47005b;
    color: #ffffff;
}
  
  
body.theme-lavender .navbar-brand {
    background-color: #47005b;
    color: #ffffff;
}

body.theme-lavender .dropdown-item:hover {
    background-color: #ffffff;
    color: #47005b;
    }