body.theme-pastel .navbar {
    background-color: #f4a7b9;  /* Dark background */
    color: #02220a;  /* Light text */
  }
  
  body.theme-pastel .navbar .nav-link {
    color: #02220a;
  }
  
  body.theme-pastel .footer {
    background-color: #f4a7b9;
    color: #02220a;
  }
  
  body.theme-pastel .dropdown-menu {
    background-color: #f4a7b9;
    color: #02220a;
  }
  
  body.theme-pastel .dropdown-item {
    background-color: #f4a7b9;
    color: #02220a;
  }
  
  
  body.theme-pastel .navbar-brand {
    background-color: #f4a7b9;
    color: #02220a;
  }
  
  body.theme-pastel .dropdown-item:hover {
    background-color: #02220a;
    color: #f4a7b9;
    }